.App {
  // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.App-header {
  background-color: rgba(40, 44, 52, 0.6);
  min-height: 20vmin;
  max-height: 20vmin;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-background {
  display: flex;
  justify-content: center;

  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -100;

  video {
    position: absolute;
    // width: 300vw;
    // left: -100vw;
    height: 200vh;
    top: -50vh;
  }
}