.App {
  text-align: center;
}

.App-header {
  background-color: rgba(40, 44, 52, 0.6);
  min-height: 20vmin;
  max-height: 20vmin;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start;
  justify-content: start; */
  font-size: calc(10px + 2vmin);
  color: white;
}
