.Marquee {
    box-shadow: inset 0px 0px 0px 4px blue;
    display: block;
    height: 20vmin;
    width: 40vmin;
    margin-right: auto;

    .Marquee-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0px 0px 0px 4px magenta;
        position: absolute;
        top: 0;
        left: 0;
        height: 20vmin;
        width: 40vmin;
        transition: width 1s, height 1s;

        pointer-events: none;
        a {
            pointer-events: all;
        }
    }

    .Marquee-split {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        z-index: -5;
    }
}

.Marquee-logo {
    height: 4vmin;
    pointer-events: none;
    transition: width 1s, height 1s;
}

.bigMode {
    .Marquee-inner {
        width: 100vw;
        height: 100vh;
    }

    .Marquee-logo {
        height: 40vmin;
    }
}

@media (prefers-reduced-motion: no-preference) {
  .Marquee-logo {
    animation: Marquee-logo-spin infinite 20s linear;
  }
}

@keyframes Marquee-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}